.btn {
  display: inline-block;
  width: 280px;
  padding: 11px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: $green;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    background-color: $dark-green;
    color: rgba($white, 0.3%);
  }
}
