.container {
  width: 280px;
  margin: 0 auto;
}


@media (min-width: $tablet-width) {

  .container {
    width: 708px;
    margin: 0 auto;
  }
}


@media (min-width: $desktop-width) {

  .container {
    width: 1220px;
    margin: 0 auto;

    &--add-goods {
      display: flex;
      justify-content: space-between;
    }

    &--form-desktop {
      width: 570px;
      margin: 0;
      margin-right: 76px;
    }
  }
}
