.container {
  width: 280px;
  margin: 0 auto;
}


@media (min-width: $tablet-width) {

  .container {
    width: 708px;

    &--form {
      width: 629px;
    }

    &--submit {
      display: flex;
    }
  }
}


@media (min-width: $desktop-width) {

  .container {
    width: 1220px;
    padding: 0 40px;

    &--add-goods {
      display: flex;
      justify-content: space-between;
    }
  }
}
