.developer {
  display: flex;
  width: 280px;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
}

.developer__link {
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: $grey;
}

.developer__logo-link {
  margin-right: -6px;
}


@media (min-width: $tablet-width) {

  .developer {
    width: 162px;
  }
}


@media (min-width: $desktop-width) {

  .developer {
    padding: 0;
  }
}
