.form-profile {
  width: 320px;
}

.form-profile__fieldset {
  width: 320px;
  margin: 0;
  padding: 20px 0;
  padding-bottom: 8px;
  border: none;

  &--product {
    padding-bottom: 2px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }

  &--contact-details {
    padding-top: 29px;
    padding-bottom: 0;
  }

  &--comment {
    padding-top: 16px;
    padding-bottom: 27px;
  }

  &--add-goods {
    padding-top: 0;
    padding-bottom: 17px;
  }
}

.form-profile__input-inner {
  display: flex;
  width: 280px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.form-profile__label {
  position: relative;
  display: block;
  margin-right: 15px;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.form-profile__fieldset--contact-details .form-profile__label {
  margin-right: 11px;
}

.form-profile__input {
  width: 100%;
  padding: 13px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: $grey;
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
    border-color: $grey;
  }
}

.form-profile__list {
  @include list-reset();
  padding-top: 6px;
}

.form-profile__item {
  padding-left: 66px;
  margin-bottom: 25px;
}

.form-profile__input--radio + .form-profile__label::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: -44px;
  top: -5px;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 0 0 0 1px #cdcdcd;
  border: 8px solid $white;
}

.form-profile__input--radio:hover + .form-profile__label::before {
  box-shadow: 0 0 0 1px #bababa;
}

.form-profile__input--radio:active + .form-profile__label::before {
  opacity: 0.3;
}

.form-profile__input--radio:checked + .form-profile__label::before {
  background-color: $green;
}

.form-profile__legend {
  position: relative;
  margin-bottom: 33px;
  font-size: 24px;
  line-height: 24px;
  color: #111111;

  &--contacts {
    width: 185px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100vw;
    top: 13px;
    left: 200px;
    background-color: $green;
  }
}

.form-profile__fieldset--comment .form-profile__legend {
  margin: 0;
  margin-bottom: 33px;
  font-weight: normal;

  &::after {
    left: 142px;
  }
}

.form-profile__textarea {
  width: 251px;
  min-height: 123px;
  padding: 13px 14px;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &:focus {
    outline: none;
    border-color: $grey;
  }
}

.form-profile__fieldset--add-goods .form-profile__legend {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;

  &::after {
    left: 165px;
  }
}

.form-profile__input--checkbox + .form-profile__label::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  left: -46px;
  top: -5px;
  border: 1px solid #cdcdcd;
  background-color: $white;
}

.form-profile__input--checkbox:hover + .form-profile__label::before {
  border-color: #bababa;
}

.form-profile__input--checkbox:active + .form-profile__label::before {
  opacity: 0.3;
}

.form-profile__input--checkbox:checked + .form-profile__label::before {
  background-image: url("../img/icon-tick.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.form-profile__submit-wrapper {
  width: 320px;
  padding-bottom: 18px;
}

.form-profile__submit-btn {
  @include toggle-btn-reset();
  padding: 9px 0;
  width: 280px;
  margin-bottom: 8px;
  background-color: $green;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.form-profile__text-required {
  width: 280px;
  font-family: $font-arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}


@media (min-width: $tablet-width) {

  .form-profile {
    width: 629px;
    padding: 0 43px;
    padding-right: 36px;
  }

  .form-profile__fieldset {
    width: 629px;
    padding-bottom: 52px;

    &--product {
      width: 627px;
      padding-top: 27px;
      padding-bottom: 1px;
      border: 1px solid #ededed;
    }

    &--contact-details {
      padding-top: 76px;
      padding-bottom: 29px;
    }

    &--comment {
      padding-bottom: 60px;
    }

    &--add-goods {
      padding-bottom: 14px;
    }
  }

  .form-profile__input-inner {
    width: 630px;
    margin-bottom: 19px;
  }

  .form-profile__label {
    font-size: 20px;
    line-height: 20px;
  }

  .form-profile__input {
    padding: 17px;
    padding-bottom: 16px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .form-profile__list {
    width: 627px;
  }

  .form-profile__item {
    padding-left: 85px;
    margin-bottom: 33px;
  }

  .form-profile__input--radio + .form-profile__label::before {
    width: 18px;
    height: 18px;
    left: -58px;
    top: -8px;
    border-width: 10px;
  }

  .form-profile__legend {
    font-size: 36px;
    line-height: 36px;

    &--contacts {
      width: 629px;
      margin-bottom: 75px;
    }

    &::after {
      top: 21px;
      left: 87.5%;
    }

    &::before {
      position: absolute;
      content: "";
      height: 3px;
      width: 100vw;
      top: 21px;
      right: 106.8%;
      background-color: $green;
    }
  }

  .form-profile__fieldset--comment .form-profile__legend {
    margin-bottom: 76px;

    &::after {
      left: 34.5%;
    }
  }

  .form-profile__textarea {
    width: 597px;
    min-height: 148px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }

  .form-profile__fieldset--add-goods .form-profile__legend {
    margin: 0;
    margin-bottom: 62px;

    &::before {
      right: 114.8%;
      top: 23px;
    }

    &::after {
      left: 89%;
      top: 23px;
    }
  }

  .form-profile__list {

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form-profile__list--checkbox .form-profile__item {
    min-width: 200px;
    padding-left: 56px;
    margin-bottom: 52px;

    &:nth-child(odd) {
      margin-right: 89px;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .form-profile__input--checkbox + .form-profile__label::before {
    width: 38px;
    height: 38px;
    left: -60px;
    top: -10px;
  }

  .form-profile__submit-wrapper {
    width: 629px;
    padding-bottom: 63px;
  }

  .form-profile__submit-btn {
    padding: 15px 0;
    font-size: 20px;
    line-height: 20px;
    margin-right: 57px;
  }

  .form-profile__text-required {
    width: 190px;
    font-size: 16px;
  }
}
