.form-profile {
  width: 320px;
}

.form-profile__fieldset {
  width: 320px;
  margin: 0;
  padding: 20px 0;
  padding-bottom: 8px;
  border: none;

  &--product {
    padding-bottom: 2px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }

  &--contact-details {
    padding-top: 29px;
    padding-bottom: 0;
  }

  &--comment {
    padding-top: 16px;
    padding-bottom: 27px;
  }

  &--add-goods {
    padding-top: 0;
  }
}

.form-profile__input-inner {
  display: flex;
  width: 280px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.form-profile__label {
  position: relative;
  display: block;
  margin-right: 15px;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.form-profile__input {
  width: 100%;
  padding: 13px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: $grey;
    text-transform: uppercase;
  }
}

.form-profile__list {
  @include list-reset();
  padding-top: 6px;
}

.form-profile__item {
  padding-left: 66px;
  margin-bottom: 25px;
}

.form-profile__input--radio + .form-profile__label::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: -44px;
  top: -5px;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 0 0 0 1px #cdcdcd;
  border: 8px solid $white;
}

.form-profile__input--radio:checked + .form-profile__label::before {
  background-color: $green;
}

.form-profile__legend {
  position: relative;
  margin-bottom: 33px;
  font-size: 24px;
  line-height: 24px;
  color: #111111;

  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100vw;
    top: 13px;
    left: 200px;
    background-color: $green;
  }
}

.form-profile__fieldset--comment .form-profile__legend {
  margin: 0;
  margin-bottom: 33px;
  font-weight: normal;

  &::after {
    left: 142px;
  }
}

.form-profile__textarea {
  width: 251px;
  min-height: 123px;
  padding: 13px 14px;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-profile__fieldset--add-goods .form-profile__legend {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;

  &::after {
    left: 165px;
  }
}
