.living-example {
  background-color: #f2f2f2;
  padding-top: 17px;
}

.living-example__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
}

.living-example__text {
  width: 270px;
  margin: 0;
  margin-bottom: 40px;
  font-family: "Arial", sans-serif;
}

.living-example__table {
  width: 280px;
  margin-bottom: 19px;
}

.living-example__table-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.living-example__table-title {
  position: relative;
  width: 122px;
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    width: 122px;
    height: 54px;
    top: -13px;
    left: -2px;
    background-color: transparent;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
  }
}

.living-example__table-desc {
  width: 75px;
  padding: 0 7px;
  margin-left: 15px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background-color: #f2f2f2;
  z-index: 10;

  &--time {
    margin-left: 0;
    margin-right: 15px;
  }
}

.living-example__expenses {
  margin: 0;
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {

  .living-example {
    width: 768px;
    margin: 0 auto;
    padding-top: 44px;
    background-color: $white;
  }

  .living-example__inner {
    background-color: $white;
    padding-bottom: 232px;
  }

  .living-example__title {
    margin-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
  }

  .living-example__text {
    width: 677px;
    margin-bottom: 68px;
  }

  .living-example__table-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .living-example__table {
    width: 368px;
  }

  .living-example__expenses {
    width: 177px;
    margin-top: -5px;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
    color: #111111;
  }

  .living-example__table-title {
    width: 159px;
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 37px;
    color: #111111;

    &::before {
      width: 160px;
      height: 70px;
      top: -13px;
    }
  }

  .living-example__table-desc {
    margin-left: 22px;
    font-size: 14px;
    line-height: 14px;
    width: 100px;
    background-color: $white;

    &--time {
      width: 127px;
      margin-right: 12px;
    }
  }
}


@media (min-width: $desktop-width) {

  .living-example {
    position: relative;
    width: 100%;
    margin-top: 210px;
    padding-bottom: 39px;
    background: linear-gradient(to right, #f2f2f2 71.5%, #eaeaea 28.5%);
  }

  .living-example__container {
    width: 1220px;
    display: flex;
    margin: 0 auto;
    padding: 0 40px;
    justify-content: space-between;
  }

  .living-example__container-desktop {
    padding: 0;
  }

  .living-example__inner {
    position: relative;
    width: 435px;
    padding-top: 28px;
    padding-bottom: 0;
    background-color: #f2f2f2;
  }


  .living-example__title {
    position: absolute;
    top: -178px;
  }

  .living-example__text {
    width: 435px;
    margin-bottom: 83px;
  }

  .living-example__table-inner {
    width: 370px;
  }

  .living-example__table {
    margin-bottom: 51px;
  }

  .living-example__table-desc {
    background-color: #f2f2f2;
  }

  .living-example__expenses {
    width: 327px;
    margin-top: 1px;
  }

  .living-example__only-desktop {
    display: inline-block;
    margin-left: 58px;
  }
}
