.living-example {
  background-color: #f2f2f2;
  padding-top: 17px;
}

.living-example__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
}

.living-example__text {
  width: 270px;
  margin: 0;
  margin-bottom: 38px;
  font-family: "Arial", sans-serif;
}

.living-example__table {
  width: 280px;
  margin-bottom: 16px;
}

.living-example__table-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.living-example__table-title {
  position: relative;
  width: 118px;
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    width: 122px;
    height: 54px;
    top: -12px;
    left: -2px;
    background-color: transparent;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
  }
}

.living-example__table-desc {
  width: 75px;
  padding: 0 7px;
  margin-left: 15px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background-color: #f2f2f2;
  z-index: 10;

  &--time {
    margin-left: 0;
    margin-right: 15px;
  }
}

.living-example__expenses {
  margin: 0;
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}
