.main-navigation {
  @include list-reset();
  display: none;
  font-weight: 500;

  &--show {
    display: block;
  }

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }
}

.main-navigation__link {
  display: block;
  width: 100%;
  padding: 23px 0;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}


@media (min-width: $tablet-width) {

  .main-navigation {
    display: flex;
    width: 440px;
    justify-content: space-between;

    &:first-child {
      border: none;
    }
  }

  .main-navigation__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border: none;
    color: #222222;

    &--active {
      padding-bottom: 8px;
      border-bottom: 2px solid $green;
    }

    &:hover:not(.main-navigation__link--active) {
      color: rgba(#222222, 0.6%)
    }

    &:active:not(.main-navigation__link--active) {
      color: rgba(#222222, 0.3%)
    }
  }
}


@media (min-width: $desktop-width) {

  .main-navigation {
    width: 480px;
  }

  .main-navigation__link {
    font-size: 20px;
    line-height: 24px;
    color: #111111;

    &--index {
      color: $white;
    }

    &--index.main-navigation__link--active {
      border-bottom: 2px solid $white;
    }

    &--active {
      border-bottom: 2px solid $green;
    }
  }
}
