.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-header__inner {
  display: flex;
  width: 280px;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 11px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  @include toggle-btn-reset();
  position: absolute;
  width: 24px;
  height: 2px;
  top: 7px;
  background-color: $black;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $black;
  }

  &:after {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $black;
  }
}

.page-header__toggle-inner {
  position: relative;
  width: 24px;
  height: 18px;
  cursor: pointer;
}


@media (min-width: $tablet-width) {

  .page-header {
    
    width: $tablet-width;
    margin: 0 auto;
    
  }

  .page-header__container {
    display: flex;
    width: 708px;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__inner {
    width: 175px;
    margin: 0;
  }

  .page-header__toggle-inner {
    display: none;
  }

  .page-header__nav {
    width: 440px;
  }
}
