.photo-cat {
  width: 320px;
}

.photo-cat__img {
  &--after {
    display: none;
  }
}


@media (min-width: $tablet-width) {

  .photo-cat {
    position: relative;
    width: 690px;
    margin: 0 auto;
    min-height: 305px;
  }
  .photo-cat__img {
    position: absolute;
    bottom: -41px;
    left: 6px;

    // &--before {
    //   clip-path: inset(100px 50px);
    // }

    &--after {
      display: inline-block;
    }
  }
}


@media (min-width: $desktop-width) {

  .photo-cat {
    width: 690px;
  }

  .photo-cat__img {
    width: 690px;
    bottom: -23px;
    left: 40px;
  }
}
