.photo-cat {
  width: 320px;
}

.photo-cat__img {
  &--after {
    display: none;
  }
}


@media (min-width: $tablet-width) {

  .photo-cat {
    position: relative;
    width: 690px;
    margin: 0 auto;
    min-height: 305px;
  }
  .photo-cat__img {
    position: absolute;
    bottom: -41px;
    left: 6px;

    &--before {
      clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    }

    &--after {
      display: inline-block;
      clip-path: polygon(100% 0%, 0% 100%, 50% 0%, 0% 100%);
    }
  }

}


@media (min-width: $desktop-width) {

  .photo-cat {
    width: 690px;
  }

  .photo-cat__img {
    width: 690px;
    bottom: -23px;
    left: 40px;
  }
}
