.profile {
  width: 280px;
  margin: 0 auto;
  padding: 20px 0;
}

.profile__title-inner {
  position: relative;
  padding-top: 19px;
  padding-bottom: 21px;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    top: 3px;
    left: -19px;
    background-color: #e6e6e6;
  }
}

.profile__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: #111111;
}

.profile__text-choice {
  width: 228px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
} 


@media (min-width: $tablet-width) {

  .profile {
    width: 708px;
    margin: 0 auto;
  }

  .profile__title-inner {
    margin: 0;
    padding-top: 22px;
    padding-bottom: 45px;

    &::before {
      display: none;
    }
  }

  .profile__title {
    margin-bottom: 56px;
    font-size: 60px;
    line-height: 60px;
  }

  .profile__text-choice {
    width: 325px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }
}


@media (min-width: $desktop-width) {

  .profile {
    width: 1220px;
    margin: 0 auto;
  }

  .profile__title {
    margin-bottom: 54px;
  }

  .profile__text-choice {
    margin: 0;
  }
}

