.slogan {
  position: relative;
  width: 320px;
  padding-top: 27px;
  padding-bottom: 302px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 307px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    z-index: -10;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 280px;
    height: 271px;
    background-image: url("../img/index-can-mobile@1x.png");
  }
}

.slogan__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
}

.slogan__lead {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {

  .slogan {
    width: 430px;
    padding-bottom: 0;
    padding-top: 23px;
    margin-left: 119px;
    margin-bottom: 48px;

    &::before {
      display: none;
    }

    &::after {
      width: 709px;
      height: 609px;
      top: 223px;
      left: -90px;
      background-image: url("../img/index-can-tablet@1x.jpg");
      z-index: -10;
    }
  }

  .slogan__title {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: left;
  }

  .slogan__lead {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }
}


@media (min-width: $desktop-width) {

  .slogan {
    width: 1060px;
    padding: 0 80px;
    padding-top: 52px;
    margin: 0 auto;

    &::before {
      display: inline-block;
      width: 720px;
      height: 696px;
      top: -170px;
      left: 610px;
      background-image: url("../img/index-background-desktop@1x.jpg");
    }

    &::after {
      width: 552px;
      height: 499px;
      top: -28px;
      left: 450px;
      background-image: url("../img/index-can-desktop@1x.png");
    }
  }

  .slogan__title {
    width: 415px;
  }

  .slogan__lead {
    margin-bottom: 54px;
  }
}
